@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gaegu:wght@700&family=Inter:wght@500&display=swap');
/* 로고 폰트 (Gaegu) >> font-family: 'Gaegu', cursive;
메인 폰트 (inter) >> font-family: 'Inter', sans-serif; */

* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color : #516459;
    --sub-color : #89A286;
}

header {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* 구분용 배경색, 지워도 무관 ^^ */
    background-color: var(--sub-color);
}

li {
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: #000000;
}

.title {
    display: block;
}

.title li {
    font-family: 'Gaegu', cursive;
    font-size: 45px;
}

.nav-list {
    display: flex;
    margin-left: 15%;
    width: 25%;
    justify-content: space-evenly;
}

.nav-list li {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.nav-li a:hover{
    color: white;
}

.tgm {
    display: none;
}

.tgm-close {
    display: none;
}

@media screen and (max-width:1029px) {
    .nav-list {
        width: 40%;
    }    
}

/* TOGGLE MENU */
@media screen and (max-width:768px) {

    .nav-list {
        background-color: #d6dbd5;
        display: flex;
        justify-content: start;
        gap: 50px;
        align-items: center;
        flex-direction: column;
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 56px;
        width: 50%;
        z-index: 99;

        /* x축으로 100%만큼 이동 */
        transform: translateX(100%);
        
        /* 0.5초간 ease in  */
        transition: transform 0.5s ease-in;
    }

    .nav-li:nth-child(1) {
        margin-top: 50px;
    }

    /* 클릭되면 메뉴가 왼쪽으로 나와야 하기 떄문에 */
    .nav-list.active {
        transform: translateX(0%);
    }

    .tgm {
        display: block;
        justify-content: right;
    }

    .tgm:hover {
        cursor: pointer;
    }

    /* keyframe : 시간 변화, 나타내기, 사라지기 */
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(5px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }
}