@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gaegu:wght@700&family=Inter:wght@500&display=swap');

.container {
    width: 100%;
    height: auto;
    margin: 0;
}
.main-img {
    display: flex;
    margin: 120px auto;
    width: 400px;
    height: 600px;
    /* justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 200px; */
}
.paper-wrap {
    position: relative;
}
.paper {
    display: flex;
    width: 900px;
    height: 700px;
    margin: 0 auto;
}
.paper-text { 
    position: absolute;
    top: 40%;
	left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    font-size: 20px;
    font-family: 'Gaegu', cursive;
}
h2 {
    margin: 100px 0 100px 0;
    text-align: center;
}
.main-comment {
    text-align: center;
}
.title {
    text-align: center;
}

@media screen and(max-width: 1024px) {
    .paper {
        width: 700px;
        height: 500px;
    }
}
@media screen and (max-width: 768px) {
    .paper {
        width: 500px;
        height: 400px;
    }
}