.container {
    width: 100%;
    height: auto;
    margin: 0;
}

.main-img {
    display: flex;
    margin: 120px auto;
    width: 400px;
    height: 600px;
    /* justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 200px; */
}