@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gaegu:wght@700&family=Inter:wght@500&display=swap');

body {
    overflow-x: hidden;
}
.container {
    width: 100%;
    height: auto;
    margin: 0;
}
.main-img {
    display: flex;
    margin: 120px auto;
    width: 400px;
    height: 600px;
    /* justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 200px; */
}
.paper-wrap {
    position: relative;
    margin-top: 160px;
    margin-bottom: 200px;
}
.paper {
    display: flex;
    width: 770px;
    height: 600px;
    margin: 0 auto;
}
.paper-text {
    font-size: 1.2rem;
    font-family: 'Gaegu', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.pencil {
    position: absolute;
    top: 1300px;
    left: 800px;
    width: 500px;
}
h2 {
    margin: 100px 0 100px 0;
    text-align: center;
}
.main-comment {
    text-align: center;
}
.main-title {
    text-align: center;
}

@media screen and (min-width: 768px) and(max-width: 1024px) {
    .main-img {
        width: 300px;
        height: 500px;
    }
    .paper {
        width: 500px;
        height: 400px;
    }
    .pencil {
        position: absolute;
        top: 1290px;
        left: 800px;
        width: 500px;
    }
}
@media screen and (max-width: 768px) {
    .main-img {
        width: 300px;
        height: 430px;
    }
    .paper {
        width: 500px;
        height: 400px;
    }
    .pencil {
        position: absolute;
        top: 1000px;
        left: 300px;
    }
}